/*reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(135deg, #101010, #1d0030);
    min-height: 100vh;
    font-family: "Caveat", cursive;
}

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    background: linear-gradient(to right, #9932CC, #FF69B4);
    background-clip: text;
    color: transparent;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: white;
}

.button {
    color: white;
    padding: 12px 25px;
    border-radius: 50px;
    background: linear-gradient(to right, #9932CC, #8A2BE2);
    border: none;
    outline: none;
   
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 20px 30px -10px rgba(153, 50, 204, 0.6);
}

.bar {
    display: none;
    font-size: 30px;
    color: #6f07b4;
    cursor: pointer;
}
/*--------------------------Main-------------------------*/
main{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}
.content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content > h1{
    font-size: 40px;
    font-weight: 1000;
    background-color: white;
    background-clip: text;
    color: transparent;
}

.content > h1 > span{
    background: linear-gradient(to right, #9932CC, #FF69B4);
    background-clip: text;
    color: transparent;
}

.content > p:nth-of-type(1){
    font-size: 25px;
    color: yellow;
}

.content > p:nth-of-type(2){
    font-size: 14px;
    color: white;
}

.btn-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn-wrapper > .btn-read{
    color: #9932CC;
    padding: 12px 25px;
    background-color: transparent;
    border-radius: 25px;
    outline: none;
    border: 2px solid #9932CC;
    position: relative;
    overflow: hidden;
}

.btn-wrapper > .btn-start:hover{
    transform: translateY(-5px);
    transition: all 0.2s ease;
    box-shadow: rgba(153, 50, 204, 0.6) 0px 20px 30px -10px;
}

.btn-wrapper > .btn-read::before{
    content: "";
    position: absolute;
    background-color: #9932CC;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    z-index: -1;
}

.btn-wrapper > .btn-read:hover{
    color: white;
    border-color: transparent;
}

.btn-wrapper > .btn-read:hover::before{
    width: 100%;
}

.features{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    cursor: pointer;
}

.feature{
    
}

.box-img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-img > img{
    max-width: 100%;
    object-fit: contain;
    margin: 0 auto;
}


@media(max-width: 900px){
    .container header nav,
    .container header .button {
        display: none;
    }
    .bar{
        display: block;
    }
    main{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .content{
        justify-content: center;
        align-items: center;
    }    
}    

@media(max-width: 510px){
    .content h1 {
        white-space: nowrap;
    }

    .box-img{
        width: 300px;
        height: 350px;
        
    }
    
}
